@import './common';

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
.photo-card {
  border-style: outset;
  width: 20%;
}

.search-form {
  display: flex;
  background-color: darkblue;
  padding-block: 15px;
  justify-content: center;
  margin-bottom: 50px;
}
input[name='searchQuery'] {
  border: none;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
}
button[type='submit'] {
  display: block;
  border-radius: 0%;
  padding: 0;
  width: 27px;
  height: 27px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.info {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-item {
  max-width: 25%;
  font-size: 12px;
}
.load-more {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-block: 30px;
    margin-inline: auto;
    
}
.load-more:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
