@import './common';

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}



.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
.photo-card {
  border-style: outset;
  
}


.search-form {
  display: flex;
  background-color: darkblue;
  padding-block: 15px;
  justify-content: center;
  margin-bottom: 50px;
}
input[name='searchQuery'] {
  border: none;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
}
button[type='submit'] {
  display: block;
  border-radius: 0%;
  padding: 0;
  width: 27px;
  height: 27px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
